<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/ef81742c13.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div id="container">
        <div id="top-section">
            <i class="fas fa-address-book" id="title-icon"></i> &nbsp;
            <h1 id="heading">My Contacts</h1>
        </div>
        <div id="list-container">
            <ul id="list" style="list-style: none;">
                <% for(let i of contact_list){%>
                    <li>
                        <i class="fas fa-phone">&nbsp;&nbsp;</i><span id="c-name"><%= i.name %></span>
                        <a href="/delete-contact/?id=<%= i._id %>&name=<%= i.name %>" id="delete-link">
                            &nbsp; &nbsp; <i class="fas fa-times"></i>
                        </a><span id="c-phone"><%= i.phone %></span>
                    </li>
                    <%} %>
            </ul>
        </div>
        <div id="form-container">
            <form action="/create-contact" method="post">
                <input class="form-input" type="text" name="name" placeholder="Enter Name" required><br>
                <input class="form-input" type="number" name="phone" placeholder="Enter Phone Number" required><br>
                <button class="btn" type="submit">Create this Contact</button>

            </form>
        </div>
    </div>

</body>
</html>